* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark: #484e4a;
    --medium: #C5C1BB;
    --light: #EFF0EB;
    --accent-yellow: #EACB48 ;
    --accent-blue:#00A099;
}
body {
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
    
}
 
/*Logo Styles*/

/* .logo {
    margin-left: 20px;
} */

/* Header Styles*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header h1 {
    font-size: 40px;
    color: var(--light);
    margin: 10px;
    padding: 0px;
}

/* Nav Styles*/

nav {
    margin: 20px;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 20px;
    padding: 20px;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: var(--accent-yellow);
}

main {
    margin: 64px 40px 20px 40px;
    
}

/* Grid Layout Setup*/

main {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 20px;
}
/* Grid Layout Responsive

/* Left Side Section Header Styles */

h2 {
    font-size: 48px;
    color: var(--accent-yellow);
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Headshot Style*/

.headshot {
    border-radius: 50%;
    border-width: 10px;
    border-color: var(--accent-yellow);
}

/* About me section */

.aboutme {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Project section */

.projects {
    display: flex;
    flex-flow: row wrap;
}

.project-1 {
    flex: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border-color: var(--accent-blue);
}



@media screen and (max-width: 1024) {
    header {
        display: inline-block;
    }
}




