* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark: #19211c;
    --medium: #C5C1BB;
    --light: #EFF0EB;
    --accent-yellow: #EACB48 ;
    --accent-blue:#00A099;
}
body {
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
    font-size: 16px;
}
 
/* Header Styles*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header h1 {
    font-size: 40px;
    color: var(--light);
    margin: 10px;
    padding: 0px;
}

/* Nav Styles*/

nav {
    margin: 20px;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 20px;
    padding: 20px;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: var(--accent-yellow);
}



/*main page setup*/

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 2000px;
    margin: auto;
}

main > article {
    display: flex;
    flex-direction: row;
    margin: 80px 0px;
}

#aboutme, #projects, #contact {
    padding-left: 120px;
    padding-right: 80px;
}

/* Left Side Section Header Styles */

h2 {
    font-size: 48px;
    color: var(--accent-yellow);
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px 0px 15px;
    text-decoration-line: overline;
    /* border-right: 2px solid var(--accent-blue);  */
}

/* About me section */
#aboutme {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 50px;
}

#aboutme > img {
    border-radius: 12px;
    border: 5px solid var(--accent-yellow);
    margin-left: 20px;
}

#aboutme p {
    font-size: 20px;
    margin: auto 50px;

}

/* Project section */

#projects {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.project-block-large{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    order: 1;
    /* justify-content: center;
    align-items: center; */
    border: 5px solid var(--accent-yellow);
    border-radius: 12px;
    padding: 12px;
    margin: 20px;
}

.project-block{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    order:2;
    /* justify-content: center;
    align-items: center; */
    border: 5px solid var(--accent-yellow);
    border-radius: 12px;
    padding: 12px;
    margin:20px;
    /* width: 15%;
    height: 100%; */
}

.project-header {

}

.project-block-large img {
   object-fit: fill;
}

.project-block img {
    object-fit: fill;
}

/* Contact section */

#contact {
    display:flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}
#contact ul {
    display: flex;
    flex-direction: column;
}
#contact ul li  {
    display: inline;
    font-size: 24px;
    /* color: var(--accent-yellow) */
}
#contact a {
    text-decoration: none;
    color: var(--light);
}






